In [42]:
import pandas as pd
import numpy as np
import OpenBlender
import json
%matplotlib inline
import matplotlib

In [43]:
token = '61521f809516292e82e5264aLvxmIcHpcGcHzuZ4a0e2hplW40Tn24'
action = 'API_getObservationsFromDataset'

In [44]:
data = pd.read_csv('ada_df.csv')
data

                  Date     Close
0     1-1-2020 23:58:0  0.033326
1     2-1-2020 23:58:0  0.032622
2     3-1-2020 23:58:0  0.034093
3     4-1-2020 23:58:0  0.034357
4     5-1-2020 23:58:0  0.034487
..                 ...       ...
621  14-9-2021 23:58:0  2.394897
622  15-9-2021 23:58:0  2.493787
623  16-9-2021 23:58:0  2.419204
624  17-9-2021 23:58:0  2.347343
625  18-9-2021 23:58:0  2.372001

[626 rows x 2 columns]

In [45]:
data['log_diff'] = np.log(data['Close']) - np.log(data['Close'].shift(1))
data

                  Date     Close  log_diff
0     1-1-2020 23:58:0  0.033326       NaN
1     2-1-2020 23:58:0  0.032622 -0.021349
2     3-1-2020 23:58:0  0.034093  0.044108
3     4-1-2020 23:58:0  0.034357  0.007706
4     5-1-2020 23:58:0  0.034487  0.003787
..                 ...       ...       ...
621  14-9-2021 23:58:0  2.394897 -0.003890
622  15-9-2021 23:58:0  2.493787  0.040462
623  16-9-2021 23:58:0  2.419204 -0.030364
624  17-9-2021 23:58:0  2.347343 -0.030154
625  18-9-2021 23:58:0  2.372001  0.010450

[626 rows x 3 columns]

In [47]:
data['target'] = [1 if log_diff > 0 else 0 for log_diff in data['log_diff']]
data
data.to_csv(r'ADA_prices_log.csv')

In [48]:
format = '%d-%m-%Y %H:%M:%S'
timezone = 'GMT'
data['timestamp'] = OpenBlender.dateToUnix(data['Date'], date_format = format, timezone = timezone)

data = data[['Date', 'timestamp', 'Close', 'target']]
data.to_csv(r'ADA_prices_target.csv')

In [49]:
i_left_something_in_the_oven = pd.read_csv('5ea20b4e95162936348f141d.csv')
i_left_something_in_the_oven

,Unnamed: 0,date,timestamp,close,target,VEC.timestamp,VEC.COINJOURNA.text_COUNT_last1days:bitcoin,VEC.COINJOURNA.text_last1days:bitcoin
0,0,01-01-2020 17:00:00,1.577898e+09,7200.85,1,1577898000,0,[]
1,1,02-01-2020 17:00:00,1.577984e+09,6965.71,0,1577984400,0,[]
2,2,03-01-2020 17:00:00,1.578071e+09,7344.96,1,1578070800,0,[]
3,3,04-01-2020 17:00:00,1.578157e+09,7354.11,1,1578157200,0,[]
4,4,05-01-2020 17:00:00,1.578244e+09,7358.75,1,1578243600,0,[]
...,...,...,...,...,...,...,...,...
581,581,20-09-2021 17:00:00,1.632157e+09,43015.62,0,1632157200,5,['#markets #etoro where to buy celo: mobile-fi...
582,582,21-09-2021 17:00:00,1.632244e+09,40734.38,0,1632243600,6,['#markets #etoro where to buy omg network: om...
583,583,22-09-2021 17:00:00,1.632330e+09,43543.61,1,1632330000,5,['#markets #etoro where to buy imagecoin as im...
584,584,23-09-2021 17:00:00,1.632416e+09,44865.26,1,1632416400,4,['#markets #etoro where to buy polkadot: dot s...
585,585,24-09-2021 17:00:00,1.632503e+09,42810.57,0,1632502800,5,['#policyandregulation #bitcoin fca and bank o...

In [50]:
df_anchor = pd.concat([data, i_left_something_in_the_oven.loc[:, i_left_something_in_the_oven.columns != 'timestamp']], axis = 1)
df_anchor

,Date,timestamp,Close,target,Unnamed: 0,date,close,target,VEC.timestamp,VEC.COINJOURNA.text_COUNT_last1days:bitcoin,VEC.COINJOURNA.text_last1days:bitcoin
0,1-1-2020 23:58:0,1.577923e+09,0.033326,0,0.0,01-01-2020 17:00:00,7200.85,1.0,1.577898e+09,0.0,[]
1,2-1-2020 23:58:0,1.578009e+09,0.032622,0,1.0,02-01-2020 17:00:00,6965.71,0.0,1.577984e+09,0.0,[]
2,3-1-2020 23:58:0,1.578096e+09,0.034093,1,2.0,03-01-2020 17:00:00,7344.96,1.0,1.578071e+09,0.0,[]
3,4-1-2020 23:58:0,1.578182e+09,0.034357,1,3.0,04-01-2020 17:00:00,7354.11,1.0,1.578157e+09,0.0,[]
4,5-1-2020 23:58:0,1.578269e+09,0.034487,1,4.0,05-01-2020 17:00:00,7358.75,1.0,1.578244e+09,0.0,[]
...,...,...,...,...,...,...,...,...,...,...,...
621,14-9-2021 23:58:0,1.631664e+09,2.394897,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,15-9-2021 23:58:0,1.631750e+09,2.493787,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,16-9-2021 23:58:0,1.631837e+09,2.419204,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,17-9-2021 23:58:0,1.631923e+09,2.347343,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,18-9-2021 23:58:0,1.632009e+09,2.372001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df_anchor.to_csv(r'ada_prices_with_news.csv')